.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }
}

.vw-100 {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.mw-75 {
  min-width: 75%;
}

.vh-100 {
  height: 100vh;
}

.gap-4 {
  gap: 4rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-1 {
  gap: 1rem;
}
